@import 'variables';

body {
  background-color: $neutral-light-color;
}

header {
  height: auto;
  width: 100%;
  background-color: $primary-color;
  position: relative;
  border: 0;
}

.navbar {
  height: auto;
  max-width: $max-page-width;
  display: flex;
  margin: 0 auto;
  padding: 10px 10px;
  align-items: center;

  & .navbar__search {
    display: flex;
    width: 100%;
    position: relative;
    padding: 8px 1px;
    margin: 0 35px;

    input {
      width: 100%;
      font-size: 18px;
      height: 39px;
      border: none;
      padding: 2px 60px 2px 15px;
      color: $dark-color;

      &:focus-visible {
        outline: none;
      }

      &::placeholder {
        color: $neutral-color;
      }
    }

    button {
      border: none;
      width: 50px;
      background-color: $neutral-light-color;
      cursor: pointer;
    }
  }
}

.content {
  max-width: $max-page-width;
  margin: 0 auto;
}

.breadcrumb {
  padding: 16px 0;

  & ol {
    padding: 0;
    margin: 0;
    & .breadcrumb__item {
      display: inline-block;
      list-style: none;
      font-size: 14px;

      & .breadcrumb__chevron {
        float: left;
        padding: 0 6px;
      }
    }
  }
}

.products__list {
  background-color: $white-color;
}

.home {
  background-color: palevioletred;
}

.product__container {
  background-color: $white-color;
  display: flex;
  padding: 32px;
  .left-column {
    flex: 7;
    img {
      width: 100%;
      max-width: 680px;
      height: auto;
      max-height: 680px;
    }
    .product__description {
      h2 {
        margin: 0;
        font-size: 28px;
        font-weight: bold;
      }
      .product__description-text {
        font-size: 16px;
        padding-top: 32px;
      }
    }
  }
  .right-column {
    flex: 3;
    .product__condition {
      font-size: 14px;
    }
    .product__title {
      margin: 0;
      padding: 16px 0;
      font-size: 24px;
    }
    .product__price {
      padding: 16px 0;
      font-size: 46px;
      display: flex;
      align-items: flex-start;
      span {
        line-height: 75%;
      }
      .decimal {
        font-size: 24px;
      }
    }
    .product__buy-btn {
      margin-top: 16px;
      background-color: $success-color;
      color: $white-color;
      width: 100%;
      border: 0;
      border-radius: 4px;
      height: 46px;
      font-size: 18px;
    }
  }
}

.error-message {
  padding: 10px;
  margin: 10px;
  color: #ba3939;
  background: #ffe0e0;
}
